dist/ 
build/ 
*.spec 
!/client_app.spec
license.lic 
settings.json 
admin_key_gen.py 
!/source/admin_key_gen.py
license_private_key.pem
__pycache__/
build_rebuild/
dist_rebuild/
.wrangler/
license_worker/.wrangler/
*.pyc
.pytest_cache/
.venv/
.venv-build/
